



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">


    <!-- <link rel="stylesheet" href="index.css"> -->
    <!-- <style>
        html,
        body {
          height: 100%;
        }
      
        @media (min-width: 640px) {
          table {
            display: inline-table !important;
          }
      
          thead tr:not(:first-child) {
            display: none;
          }
        }
      
        td:not(:last-child) {
          border-bottom: 0;
        }
      
        th:not(:last-child) {
          border-bottom: 2px solid rgba(0, 0, 0, .1);
        }
      </style> -->


       
  <style>
    *{
			margin:0;
			padding: 0;
			box-sizing: border-box;
		}
		body{
			background-color: #e4ecf0;
		}
		.container{
			width: 70%;
			margin:2rem auto;
		}
		.table{
			width: 100%;
			padding:1rem 20px;
			display: flex;
			justify-content: space-between; 
		}
		.heading{
			flex-basis: 50%;
			text-align: left;

		}
		h1{
			font-size: 2.5rem;
			font-weight: 900;
			color: forestgreen;
			text-shadow: 1px 2px 1px #fff;
			font-family: sans-serif;

		}
		.search-box{
			flex-basis: 20%;
			display: flex;
			justify-content: flex-end;
			align-items: center;
			position: relative;
			padding-right: 3px;
		}
		input{
			width: 0;
			height: 50px;
			border:none;
			outline: none;
			background-color: #fff;
			color: green;
			font-size: 20px;
			padding:0px 20px;
			box-shadow: 0 0 15px 1px #b6bbc0;
			transition: 1s linear;
			border-radius: 50px;

		}

		.search-btn{
			position: absolute;
			top:50%;
			transform: translateY(-50%);
			right: 0;
			width: 50px;
			height: 50px;
			border-radius: 50%;
			background-color: forestgreen;

		}

		.fas{
			position: absolute;
			top:50%;
			left: 50%;
			transform: translate(-50%,-50%);
			color: #fff;
			font-size: 20px; 
		}

		.active{
			width: 100%;
		}

		table{
			width: 100%;
			border-collapse: collapse;
			text-align: center;
		}

		th,td{
			padding: 1rem 20px;
			border:1px solid #bbb;
		}

		th{
			font-size: 15px;
			font-weight: bold;
			color: #fff;
			background-color: forestgreen;
			font-family: sans-serif;

		}
		td{
			font-size: 18px;
			font-family: sans-serif;
			font-weight: lighter;

		}

		thead th:nth-child(1){
			padding:1rem 5px;
		}

		tbody tr:nth-child(even){
			background-color: #f5f5f5;
		}
		tbody tr:nth-child(odd){
			background-color: #fff;
		}

		@media(max-width: 500px){
			.container{
				width: 90%
			}
			.table{
				flex-direction: column-reverse;
			}
			.heading{
				width: 100%;
				text-align:center;
			}
			.search-box{
				width: 100%;
				margin-bottom: 10px;
			}
			thead{
				display: none;
			}
			tbody,tr,td{
				display: block;
				width: 100%;
			}
			tr{
				margin-bottom: 2rem;
			}
			td{
				text-align:right;
				position: relative;
			}
			td:before{
				content: attr(data-label);
				position: absolute;
				left: 5px;
				font-weight: bold;
				color: #000;
				font-size: 15px;

			}
		}
  </style>
  

</head>
<body class="bg-gray-200">
    
<!-- component -->
<%- include('_navbar') -%>




<!----------------------------###################  Navbar ends  ###############------------------------------------------------>

<!----------------------------###################  ------------  ###############------------------------------------------------>

<!----------------------------###################  Table starts  ###############------------------------------------------------>


<body class="flex items-center justify-center">
	<div class="bg-gray-200">
       
		<!-- <table class="w-full flex flex-row flex-no-wrap sm:bg-white rounded-lg overflow-hidden sm:shadow-lg my-5">
			<thead class="text-white">
				<tr class="bg-green-400 flex flex-col flex-no wrap sm:table-row rounded-l-lg sm:rounded-none mb-2 sm:mb-0">
					<th class="p-3 text-left">Name</th>
					
					<th class="p-3 text-left" width="110px">Actions</th>
				</tr>
				<tr class="bg-green-400 flex flex-col flex-no wrap sm:table-row rounded-l-lg sm:rounded-none mb-2 sm:mb-0">
					<th class="p-3 text-left">Name</th>
				
					<th class="p-3 text-left" width="110px">Actions</th>
          <th class="p-3 text-left" width="110px"></th>
				</tr>
                <tr class=" w-full bg-green-400 flex flex-col flex-no wrap sm:table-row rounded-l-lg sm:rounded-none mb-2 sm:mb-0">
                  <th class="p-3 text-left">Name</th>
                 
                  <th class="p-3 text-left" width="110px">Actions</th>
              </tr>
			</thead>
			<tbody class="flex-1 sm:flex-none">
                <%for(var u of users){%> 
				<tr class="flex flex-col flex-no wrap sm:table-row mb-2 sm:mb-0">
          
					<td class="border-grey-light border hover:bg-gray-100 p-3"><a href="/profilepage/<%=u.username%>"><%=u.name%></a></td>
          <div>
					<td class="border-grey-light border hover:bg-gray-100 p-3 text-red-400 hover:text-red-600 hover:font-medium cursor-pointer"><a href="/delete/<%= u.username %>">delete</a></td>
          <%if(locals.user.UserType==='Admin'){%>
          <td class=" w-2 border-grey-light border hover:bg-gray-100 p-3 text-red-400 hover:text-red-600 hover:font-medium cursor-pointer"><a href="/seeQ/<%= u._id %>">View Ques</a></td>
          <%}%>
        </div>
				</tr>
				<%}%>
			</tbody>
		</table> -->






<div class="container">
  <div class="table">
    <div class="heading">
    </div>
   
  </div>
  <table>
    <thead>
      <th class="bg-indigo-500">username</th>
      <th class="bg-indigo-500">role</th>
      
      <th class="bg-indigo-500">Action</th>
    </thead>
    <tbody>
      <%for(u of users){%> 
       
      <tr  id="rolereq-<%=u._id%>">
        <td data-label="username"><a href="/profilepage/<%=u.username%>"><%=u.name%></a></td>
        <td data-label="role"><%=u.UserType%></td>
       
        <td data-label="Action">
          <%if((locals.user) && locals.user.UserType=='Admin'){%>

			<%if((locals.user) && u.UserType=='QuestionSetter'){%>
				<a  href="/seeQ/<%= u._id %>" ><button  class="flex-no-shrink bg-green-500 px-5 ml-4 py-2 text-sm shadow-sm hover:shadow-lg font-medium tracking-wider border-2  text-white rounded-full">View Ques</button></a>
				<%}%>  
            
          <a  href="/delete/<%= u.username %>" ><button  class="flex-no-shrink bg-red-500 px-5 ml-4 py-2 text-sm shadow-sm hover:shadow-lg font-medium tracking-wider border-2 border-red-500 text-white rounded-full">Delete</button></a>
          <%}%>  
        </td>
      </tr>
    </div>
      <%}%>      
    </tbody>
  </table>
</div>





<!-- 
  
<div class="w-2/3 mx-auto">
  <div class="bg-white shadow-md rounded my-6">
        <%for(var u of users){%> 
       
    <a href="/profilepage/<%=u.username%>">
      <div class="flex flex-col p-8 bg-white shadow-md hover:shodow-lg rounded-2xl">
        <div class="flex items-center justify-between">
          <div class="flex items-center">
            
            <img src="<%=u.dp%>" alt="avatar"
              class="w-16 h-16 rounded-2xl p-3 border border-blue-100 text-blue-400 bg-blue-50">
            <div class="flex flex-col ml-3">
              <div class="font-medium leading-none"><%=u.name%></div>
              <p class="text-sm text-gray-600 leading-none mt-1"><%=u.UserType%>
              </p>
            </div>
          </div>
          <div>
    
          <%if((locals.user) && locals.user.UserType=='Admin'){%>
            <%if((locals.user) && u.UserType=='Question Setter'){%>
        <a href="/seeQ/<%= u._id %>"> <button  class="flex-no-shrink bg-green-500 px-5 ml-5 py-2 text-sm shadow-sm hover:shadow-lg font-medium tracking-wider border-2 border-green-500 text-white rounded-full">Ques</button></a> 
              <%}%>
        <a href="/delete/<%= u.username %>"><button  class="flex-no-shrink bg-red-500 px-5 ml-5 py-2 text-sm shadow-sm hover:shadow-lg font-medium tracking-wider border-2 border-red-500 text-white rounded-full">Delete</button></a>
          <%}%>
        </div>
        </div>
      </div>
    </a>
      <br> 
        <%}%>        
	</div>
</body> -->
</div>
</body>

  
  <!-- Priviledge Conditions
  Resource Upload Page 
  Change roles
  user update page 
  others profile 
  Add proper view to question list

-->


</div>

<%- include('_footer') -%>
<script src='/js/Noty.js' ></script>

</body>
</html>
