



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">


    <!-- <link rel="stylesheet" href="index.css"> -->
    <style>
        html,
        body {
          height: 100%;
        }
      
        @media (min-width: 640px) {
          table {
            display: inline-table !important;
          }
      
          thead tr:not(:first-child) {
            display: none;
          }
        }
      
        td:not(:last-child) {
          border-bottom: 0;
        }
      
        th:not(:last-child) {
          border-bottom: 2px solid rgba(0, 0, 0, .1);
        }
      </style>
  

</head>
<body class="bg-gray-200">
    
<!-- component -->
<%- include('_navbar') -%>




<!----------------------------###################  Navbar ends  ###############------------------------------------------------>

<!----------------------------###################  ------------  ###############------------------------------------------------>

<!----------------------------###################  Table starts  ###############------------------------------------------------>


<body class="flex items-center justify-center">
	<div class="bg-gray-200">
       
		<!-- <table class="w-full flex flex-row flex-no-wrap sm:bg-white rounded-lg overflow-hidden sm:shadow-lg my-5">
			<thead class="text-white">
				<tr class="bg-green-400 flex flex-col flex-no wrap sm:table-row rounded-l-lg sm:rounded-none mb-2 sm:mb-0">
					<th class="p-3 text-left">Name</th>
					
					<th class="p-3 text-left" width="110px">Actions</th>
				</tr>
				<tr class="bg-green-400 flex flex-col flex-no wrap sm:table-row rounded-l-lg sm:rounded-none mb-2 sm:mb-0">
					<th class="p-3 text-left">Name</th>
				
					<th class="p-3 text-left" width="110px">Actions</th>
          <th class="p-3 text-left" width="110px"></th>
				</tr>
                <tr class=" w-full bg-green-400 flex flex-col flex-no wrap sm:table-row rounded-l-lg sm:rounded-none mb-2 sm:mb-0">
                  <th class="p-3 text-left">Name</th>
                 
                  <th class="p-3 text-left" width="110px">Actions</th>
              </tr>
			</thead>
			<tbody class="flex-1 sm:flex-none">
                <%for(var u of users){%> 
				<tr class="flex flex-col flex-no wrap sm:table-row mb-2 sm:mb-0">
          
					<td class="border-grey-light border hover:bg-gray-100 p-3"><a href="/profilepage/<%=u.username%>"><%=u.name%></a></td>
          <div>
					<td class="border-grey-light border hover:bg-gray-100 p-3 text-red-400 hover:text-red-600 hover:font-medium cursor-pointer"><a href="/delete/<%= u.username %>">delete</a></td>
          <%if(locals.user.UserType==='Admin'){%>
          <td class=" w-2 border-grey-light border hover:bg-gray-100 p-3 text-red-400 hover:text-red-600 hover:font-medium cursor-pointer"><a href="/seeQ/<%= u._id %>">View Ques</a></td>
          <%}%>
        </div>
				</tr>
				<%}%>
			</tbody>
		</table> -->










    <!-- component -->
<div class="w-2/3 mx-auto">
  <div class="bg-white shadow-md rounded my-6">
    <table class="text-left w-full border-collapse"> <!--Border collapse doesn't work on this site yet but it's available in newer tailwind versions -->
      <thead class="bg-green-300">
        <tr>
          <th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light">User</th>
          <th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light">Actions</th>
        </tr>
      </thead>
      <tbody>
        <%for(var u of users){%> 
        <tr class="hover:bg-grey-lighter">
          <td class="py-4 px-6 border-b border-grey-light"><a href="/profilepage/<%=u.username%>"> <%=u.name%></a></td>
          <td class="py-4 px-6 border-b border-grey-light">
            <%if(locals.user.UserType==='Admin'){%>
            <a href="/seeQ/<%= u._id %>" class="text-white font-bold py-1 px-3 rounded text-xs bg-blue-400 hover:bg-green-dark">Questions</a>
            
            <a href="/delete/<%= u.username %>" class="ml-4 text-white font-bold py-1 px-3 rounded text-xs bg-red-400 hover:bg-blue-dark">Delete</a>
            <%}%>
          </td>
        </tr>
        <%}%>
      </tbody>
    </table>
  </div>
</div>
        
	</div>
</body>

  
  <!-- Priviledge Conditions
  Resource Upload Page 
  Change roles
  user update page 
  others profile 
  Add proper view to question list

-->


</div>
<script src='/js/Noty.js' ></script>
</body>
</html>
