<html>
    <head>
        <title>Event Page</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    </head>
    <body class="container">
        <div class="page-header">
            <h1>Login System</h1>
        </div>

        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="/home">Home</a></li>
                        <li><a href="/signup">Sign Up</a></li>
                        <li><a href="/dashboard">Dashboard</a></li>
                        <li><a href="/UpcomingEvents">Upcoming Events</a></li>
                        <li><a href="/profilepage">Profile</a></li>

                        <%if((locals.user) && (user.UserType=="Admin")){%>
                            <li><a href="/listUsers">All Users</a></li>
                            
                            <%}%>

                        <%if((locals.user) && (user.UserType=="Executive")||(user.UserType=="Admin")
                        ||(user.UserType=="EventsLead")||(user.UserType=="MediaLead")){%>
                        <li><a href="/teamchat">Team Chat</a></li>
                        <%}%>

                        <%if((locals.user) && (user.UserType=="QuestionSetter")){%>
                            <li><a href="/fileupload">Set Questions</a></li>
                            <%}%>
                        <li><a href="/Discuss">Discussion</a></li>
                        <li><a href="/Leaderboards">Leaderboards</a></li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/login">Log In</a></li>
                        <li><a href="/logout">Log Out</a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>

        <div class="container row">
            
        </div>
        

        <ul>
            <img src="<%=event.eventbanner%>" alt="banner" width="100">
           
            <l1><h1><%=event.eventname%></h1></l1>
            <h4><%=event.aboutevent%></h4>
           <h3> Start Time: <%=event.eventStartTime%></h3>
            <h3>End Time: <%=event.eventEndTime%></h3>
            <h2>Date:<%=event.eventDate%></h2>
            <h5>Total Registrations :<%=event.Registeredusers.length%> </h5>

            <%if(event.Registeredusers.includes(locals.user._id)){%>
                <button style="color: green;">Registered</button>
                <%}else{%>
                    <button><a href="/RegisterForEvent/?id=<%= i._id %>">Register</a></button>
                <%}%>
                
            <%if((locals.user) && (locals.user.UserType=="Admin")||(locals.user.UserType=="MediaLead") || (locals.user.UserType=="EventsLead") ){%>
            <button><a href="/EditForm/?id=<%= event._id %>">Edit</a></button>
            <button><a href="/DeleteEvent/?id=<%= event._id %>">Delete</a></button>
            <%}%>
            
           
        </ul>
       
        

    </body>
</html>