

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="index.css">

    <style>
        html,
        body {
          height: 100%;
          
        }
      
        @media (min-width: 640px) {
          table {
            display: inline-table !important;
          }
      
          thead tr:not(:first-child) {
            display: none;
          }
        }
      
        td:not(:last-child) {
          border-bottom: 0;
        }
      
        th:not(:last-child) {
          border-bottom: 2px solid rgba(0, 0, 0, .1);
        }

        .tab {
    overflow: hidden;
    }
    .tab-content {
    max-height: 0;
    transition: all 0.5s;
    }
    input:checked + .tab-label .test {
        background-color: #000;
    }
    input:checked + .tab-label .test svg {
        transform: rotate(180deg);
        stroke: #fff;
    }
    input:checked + .tab-label::after {
    transform: rotate(90deg);
    }
    input:checked ~ .tab-content {
    max-height: 100vh;
    }
      </style>

</head>
<body class="bg-gray-200 ">

  <%- include('_navbar') -%>   

<!-------------------------------------------------------------###################------------------------------------------->
<!------------------------------------------------------------- navbar ends------------------------------------------->
<!-------------------------------------------------------------###################------------------------------------------->
  
<!-------------------------------------------------------------###################------------------------------------------->
<!------------------------------------------------------------- global events starts------------------------------------------->
<!-------------------------------------------------------------###################------------------------------------------->



<%if(result.length==0){%>
    <!-- component -->
    <div class="flex flex-col mt-4  bg-center bg-cover bg-no-repeat bg-gray-200">
        <div class="grid place-items-center w-4/5 mx-auto p-10 my-20 sm:my-auto bg-white-600 border-4 border-indigo-600 bg-opacity-70 rounded-xl shadow-2xl space-y-5 text-center cursor-pointer">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="h-24 w-24 text-indigo-600" viewBox="0 0 16 16">
    <path d="M4.968 9.75a.5.5 0 1 0-.866.5A4.498 4.498 0 0 0 8 12.5a4.5 4.5 0 0 0 3.898-2.25.5.5 0 1 0-.866-.5A3.498 3.498 0 0 1 8 11.5a3.498 3.498 0 0 1-3.032-1.75zM7 5.116V5a1 1 0 0 0-1-1H3.28a1 1 0 0 0-.97 1.243l.311 1.242A2 2 0 0 0 4.561 8H5a2 2 0 0 0 1.994-1.839A2.99 2.99 0 0 1 8 6c.393 0 .74.064 1.006.161A2 2 0 0 0 11 8h.438a2 2 0 0 0 1.94-1.515l.311-1.242A1 1 0 0 0 12.72 4H10a1 1 0 0 0-1 1v.116A4.22 4.22 0 0 0 8 5c-.35 0-.69.04-1 .116z"/>
    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-1 0A7 7 0 1 0 1 8a7 7 0 0 0 14 0z"/>
    </svg>
    
            <h1 class="text-4xl font-bold uppercase text-indigo-600 transition duration-500">Coming Soon</h1>
    <h2 class="text-xl text-gray-700 transition duration-500">We are almost there to fetch new events for you.</h2>
    <div class="grid grid-cols-2 md:grid-cols-4 gap-4">
      
        <!-- <a href="https://www.facebook.com/QuickToolz" title="Quicktoolz On Facebook"
          class="md:w-32 tracking-wide font-bold rounded border-2 border-indigo-500 hover:text-white hover:border-blue-600 hover:bg-blue-600 shadow-md py-2 px-6 inline-flex items-center transition duration-500">
          <span class="mx-auto">Facebook</span>
        </a>
      
      
        <a href="https://twitter.com/quicktoolz" title="Quicktoolz On Twitter"
          class="md:w-32 tracking-wide font-bold rounded border-2 border-indigo-500 hover:text-white hover:border-blue-500 hover:bg-blue-500 shadow-md py-2 px-6 inline-flex items-center transition duration-500">
          <span class="mx-auto">Twitter</span>
        </a>
      
      
        <a href="https://pinterest.com/quicktoolz/" title="Quicktoolz On Pinterest"
          class="md:w-32 tracking-wide font-bold rounded border-2 border-indigo-500 hover:text-white hover:border-red-600 hover:bg-red-600 shadow-md py-2 px-6 inline-flex items-center transition duration-500">
          <span class="mx-auto">Pintrest</span>
        </a>
      
      
        <a href="https://www.reddit.com/user/quicktoolz/" title="Quicktoolz On Facebook"
          class="md:w-32 tracking-wide font-bold rounded border-2 border-indigo-500 hover:text-white hover:border-yellow-600 hover:bg-yellow-600 shadow-md py-2 px-6 inline-flex items-center transition duration-500">
          <span class="mx-auto">Reddit</span>
        </a> -->
      
    </div>
        </div>
    </div>
            <%}%>



<section class="text-gray-600 body-font">
    <div class="container px-5 mx-auto max-w-7x1">
      <div class="flex flex-wrap w-full mb-4 p-4">
        <div class="w-full mb-6 lg:mb-0">
        </div>
      </div>
      <div class="flex flex-wrap -m-4">
        <%if(query=='CodeForces'){%>
        <%for( var i of result){%>
        <div class="xl:w-1/3 md:w-1/2 p-4">
          <div class="bg-white p-6 rounded-lg">
            <img class="lg:h-60 xl:h-56 md:h-64 sm:h-72 xs:h-72 h-72 rounded w-full object-cover object-center mb-6" src="https://news.itmo.ru/images/news/big/917925.jpg" alt="Image Size 720x400">
            <h3 class="tracking-widest text-indigo-500 text-xs font-medium title-font">Contest</h3>
            <h2 class="text-lg text-gray-900 font-medium title-font mb-4"><%=i.name%></h2>
            <p class="leading-relaxed text-base"><%= i.eventDate %></p>
            <p class="leading-relaxed mt-1 text-indigo-600"><%=i.durationSeconds/3600%>hrs</p>
            <p class="leading-relaxed text-base">Starting Time : <%=i.startTimeSeconds%></p>
<br><br>
            
              
        </div>
        </div>
        <%}%>
        <%}else if(query=='hackerrank'){%>
          <%for( var i=0;i<result.length;i++){%>
          <div class="xl:w-1/3 md:w-1/2 p-4">
            <div class="bg-white p-6 rounded-lg">
              <img class="lg:h-60 xl:h-56 md:h-64 sm:h-72 xs:h-72 h-72 rounded w-full object-cover object-center mb-6" src="https://www.yosuccess.com/wp-content/uploads/2015/01/HackerRank2.png" alt="Image Size 720x400">
              <h3 class="tracking-widest text-indigo-500 text-xs font-medium title-font">Contest</h3>
              <h2 class="text-lg text-gray-900 font-medium title-font mb-4"><%=result[i]%></h2>
              <p class="leading-relaxed text-base"><%=resultTiming[i]%></p>
  <br><br>
              
                
          </div>
          </div>
          <%}%>
          <%} else if(query=='CodeChef'){%>
            <%for( var i of result){%>
              <div class="xl:w-1/3 md:w-1/2 p-4">
                <div class="bg-white p-6 rounded-lg">
                  <img class="lg:h-60 xl:h-56 md:h-64 sm:h-72 xs:h-72 h-72 rounded w-full object-cover object-center mb-6" src="https://static.startuptalky.com/2021/04/codechef-logo-startuptalky.jpg" alt="Image Size 720x400">
                  <h3 class="tracking-widest text-indigo-500 text-xs font-medium title-font">Contest</h3>
                  <h2 class="text-lg text-gray-900 font-medium title-font mb-4"><a href="<%=i.url%>"><%=i.name%></a></h2>
                  <p class="leading-relaxed text-base"><%=i.start_time%></p>
      <br><br>
                  
                    
              </div>
              </div>
              <%}%>
              <%}%>


      
      </div>
    </div>
  </section>


<!-- component -->

<!-- 
<main class="w-3/5 p-8 mx-auto ">
    <section class="shadow row ">
        <div class="tabs">
         
            <div class="border-b tab bg-blue-400">
                <div class="border-l-2 border-transparent relative">
                    <input class="w-full absolute z-10 cursor-pointer opacity-0 h-5 top-6" type="checkbox" id="chck2">
                    <header class="flex justify-between items-center p-5 pl-8 pr-8 cursor-pointer select-none tab-label" for="chck2">
                        <span class="text-white font-bold font-thin text-xl">
                            CodeForces
                        </span>
                        <div class="rounded-full border border-grey w-7 h-7 flex items-center justify-center test">
                            <svg aria-hidden="true" class="" data-reactid="266" fill="none" height="24" stroke="#FFFFFF" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                                <polyline points="6 9 12 15 18 9">
                                </polyline>
                            </svg>
                        </div>
                    </header>
                    <div class="tab-content">
                        <div class="pl-8 pr-8 pb-5 text-grey-darkest">
                            <ul class="pl-4">
                                <%for( i of result){%>
                                <li class="pb-2">
                                    <l1><%=i.name%></l1>
        <p>Duration: <small><%=i.durationSeconds/3600%>hrs</small></p>
        <p>Starting on: <%=i.startTimeSeconds%></p>
                                </li>
                                <%}%>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        
        </div>
    </section>
</main> -->
<!-------------------------------------------------------------###################------------------------------------------->
<!------------------------------------------------------------- college events ends------------------------------------------->
<!-------------------------------------------------------------###################------------------------------------------->
  
<!-------------------------------------------------------------###################------------------------------------------->
<!------------------------------------------------------------- other site events starts------------------------------------------->
<!-------------------------------------------------------------###################------------------------------------------->
  

<!-- component -->

<!-- component -->






<!-- 
</div> -->

</body>
</html>











