<!-- <html>
    <head>
        <title>Upcoming Events</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    </head>
    <body class="container">
        <div class="page-header">
            <h1>Login System</h1>
        </div>

        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="/home">Home</a></li>
                        <li><a href="/signup">Sign Up</a></li>
                        <li><a href="/dashboard">Dashboard</a></li>
                        <li><a href="/UpcomingEvents">Upcoming Events</a></li>
                        <li><a href="/profilepage">Profile</a></li>
                        <%if((locals.user) && (user.UserType=="Admin")){%>
                            <li><a href="/listUsers">All Users</a></li>
                            
                            <%}%>

                        <%if((locals.user) && (user.UserType=="Executive")||(user.UserType=="Admin")
                        ||(user.UserType=="EventsLead")||(user.UserType=="MediaLead")){%>
                        <li><a href="/teamchat">Team Chat</a></li>
                        <%}%>
                        <%if((locals.user) && (user.UserType=="QuestionSetter")||(user.UserType=="Admin")){%>
                            <li><a href="/fileupload">Set Questions</a></li>
                            <%}%>

                        <li><a href="/Discuss">Discussion</a></li>
                        <li><a href="/Leaderboards">Leaderboards</a></li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/login">Log In</a></li>
                        <li><a href="/logout">Log Out</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        
        <div class="container row">
           <h1><%=user.name%>,Your upcoming events are:</h1> 
           <div>
            <%if((locals.user) && (locals.user.UserType=="Admin")||(locals.user.UserType=="MediaLead") || (locals.user.UserType=="EventsLead") ){%>
            <button><a href="/EventForm">Create event</a></button>
            <%}%>
            <br>
        </div>
<br><br>
        <div id="myevents" style="border-style: solid;">
            <%for( i of myevents){%>
                <ul>
                    <img src="<%=i.eventbanner%>" alt="banner" width="100">
                   
                    <l1><%=i.eventname%></l1>
                    <p>Start Time: <small><%=i.eventStartTime%></small></p>
                    <p>End Time: <%=i.eventEndTime%></p>
                    <p>Date:<%=i.eventDate%></p>
                    <p>Total Registrations :<%=i.Registeredusers.length%> </p>


                    <%if(i.Registeredusers.includes(locals.user._id)){%>
                    <button style="color: green;">Registered</button>
                    <%}else{%>
                        <button><a href="/RegisterForEvent/?id=<%= i._id %>">Register</a></button>
                    <%}%>
                    
                    <%if((locals.user) && (locals.user.UserType=="Admin")||(locals.user.UserType=="MediaLead") || (locals.user.UserType=="EventsLead") ){%>
                    <button><a href="/EditForm/?id=<%= i._id %>">Edit</a></button>
                    <button><a href="/DeleteEvent/?id=<%= i._id %>">Delete</a></button>
                    <%}%>
                    <a href="/EventPage/<%= i.eventname%>">more details</a>
                   
                </ul>
            <%}%>
        </div>
<br><br>
           <%for( i of result){%>
            <ul>
                <l1><%=i.name%></l1>
                <p>Duration: <small><%=i.durationSeconds/3600%>hrs</small></p>
                <p>Starting on: <%=i.startTimeSeconds%></p>
            </ul>
            <%}%>
        </div>
    </body>
</html> -->



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="index.css">

    <style>
        html,
        body {
          height: 100%;
          
        }
      
        @media (min-width: 640px) {
          table {
            display: inline-table !important;
          }
      
          thead tr:not(:first-child) {
            display: none;
          }
        }
      
        td:not(:last-child) {
          border-bottom: 0;
        }
      
        th:not(:last-child) {
          border-bottom: 2px solid rgba(0, 0, 0, .1);
        }
      </style>

</head>
<body class="bg-gray-200 ">

  <%- include('_navbar') -%>   

<!-------------------------------------------------------------###################------------------------------------------->
<!------------------------------------------------------------- navbar ends------------------------------------------->
<!-------------------------------------------------------------###################------------------------------------------->
  
<!-------------------------------------------------------------###################------------------------------------------->
<!------------------------------------------------------------- college events starts------------------------------------------->
<!-------------------------------------------------------------###################------------------------------------------->
  
<!-- component -->



<!-- component -->
<!-- This is an example component -->
<!-- <div style="@media(max-width:998px){

html{
  font-size:55%;
}

}
@media(max-width:768px){

html{
  font-size:45%;
}

}
"> -->
<br>

<%if((locals.user) && (locals.user.UserType=="Admin")||(locals.user.UserType=="MediaLead") || (locals.user.UserType=="EventsLead") ){%>
   
    <a href="/EventForm" class="bg-indigo-500 rounded-full font-bold text-white px-4 py-3 transition duration-300 ease-in-out hover:bg-blue-600 mr-6">
      Create Event
  </a>
    <%}%>
    <br>
    <br>
    <%for( i of myevents){%>
<div class="container mx-auto my-5">

    <div style="z-index: -1;" class="relative rounded-lg flex flex-col md:flex-row items-center md:shadow-xl md:h-72 mx-2">
        
        <div  class=" order-1 md:order-2 relative w-full md:w-2/5 h-80 md:h-full overflow-hidden rounded-lg md:rounded-none md:rounded-r-lg">
            <div class="absolute inset-0 w-full h-full object-fill object-center bg-blue-400 bg-opacity-30 bg-cover bg-bottom" style="background-image: url( <%=i.eventbanner%> ); background-blend-mode: multiply;"></div>
            <div class="md:hidden absolute inset-0 h-full p-6 pb-6 flex flex-col-reverse justify-start items-start bg-gradient-to-b from-transparent via-transparent to-gray-900">
                <h3 class="w-full font-bold text-2xl text-white leading-tight mb-2"><%=i.eventname%></h3>
                <!-- <h4 class="w-full text-xl text-gray-100 leading-tight">Hiring Challenge</h4> -->
            </div>
            <svg class="hidden md:block absolute inset-y-0 h-full w-24 fill-current text-white -ml-12" viewBox="0 0 100 100" preserveAspectRatio="none">
                <polygon points="50,0 100,0 50,100 0,100" />
            </svg>
        </div>

        <div class="z-10 order-2 md:order-1 w-full h-full md:w-3/5 flex items-center -mt-6 md:mt-0">
            <div class="w-full p-8 md:pr-18 md:pl-14 md:py-12 mx-2 md:mx-0 h-full bg-white rounded-lg md:rounded-none md:rounded-l-lg shadow-xl md:shadow-none">
                <!-- <h4 class="hidden md:block text-xl text-gray-400">Hiring Challenge</h4> -->
                <h3 class="hidden md:block font-bold text-2xl text-gray-700"><%=i.eventname%></h3>
                <p class="text-gray-600 text-justify"><%=i.aboutevent%></p>
                <a class="flex items-baseline mt-3 text-blue-600 hover:text-blue-900 focus:text-blue-900" href="">
                    <p> <%=i.eventDate%> </p> 
                    <p class="ml-10"><%=i.eventStartTime%> - </p> 

                    <p> <%=i.eventEndTime%></p>
                   
                    <p class="ml-10"> Total Registrations :<%=i.Registeredusers.length%> </p>
                    <!-- <span>Conocer más de Amanee</span> -->
                    <!-- component -->
<!-- <button class="block uppercase -ml-1 mx-auto shadow bg-red-600 hover:bg-red-500 focus:shadow-outline focus:outline-none text-white text-xs py-3 px-10 rounded">Register</button>
<button class="block uppercase -ml-20 mx-auto shadow bg-indigo-600 hover:bg-indigo-500 focus:shadow-outline focus:outline-none text-white text-xs py-3 px-10 rounded">Edit</button>
<button class="block uppercase -ml-20 mx-auto shadow bg-red-600 hover:bg-red-500 focus:shadow-outline focus:outline-none text-white text-xs py-3 px-10 rounded">Delete</button> -->
<div class="flex flex-col">
  <div class="flex justify-center">
    <%if(i.Registeredusers.includes(locals.user._id)){%>
        <a  class="z-50 bg-green-500 rounded-full font-bold text-white px-4 py-3 transition duration-300 ease-in-out hover:bg-blue-600 mr-6">
            Registered
            
        </a>
        <%}else{%>
            <a href="/RegisterForEvent/?id=<%= i._id %>" class="z-0 bg-indigo-500 rounded-full font-bold text-white px-4 py-3 transition duration-300 ease-in-out hover:bg-blue-600 mr-6">
                Register
            </a>

            
            
        <%}%>



        <%if((locals.user) && (locals.user.UserType=="Admin")||(locals.user.UserType=="MediaLead") || (locals.user.UserType=="EventsLead") ){%>
            
            <a href="/EditForm/?id=<%= i._id %>" class="bg-blue-500 rounded-full font-bold text-white px-4 py-3 transition duration-300 ease-in-out hover:bg-blue-600 mr-6">
                Edit
            </a>
            <a href="/DeleteEvent/?id=<%= i._id %>" class="bg-red-500 rounded-full font-bold text-white px-4 py-3 transition duration-300 ease-in-out hover:bg-blue-600 mr-6">
                Delete
            </a>
           
            <%}%>
            <a  href="/EventPage/<%= i.eventname%>">more details</a>



   
  
 
  </div>
 
  </div>




                    <!-- <span class="text-xs ml-1">&#x279c;</span> -->
                </a>
            </div>
        </div>

    </div>
</div>
<%}%>
<%for( i of result){%>
    <ul>
        <l1><%=i.name%></l1>
        <p>Duration: <small><%=i.durationSeconds/3600%>hrs</small></p>
        <p>Starting on: <%=i.startTimeSeconds%></p>
    </ul>
    <%}%>
</div>

<!-------------------------------------------------------------###################------------------------------------------->
<!------------------------------------------------------------- college events ends------------------------------------------->
<!-------------------------------------------------------------###################------------------------------------------->
  
<!-------------------------------------------------------------###################------------------------------------------->
<!------------------------------------------------------------- other site events starts------------------------------------------->
<!-------------------------------------------------------------###################------------------------------------------->
  

<!-- component -->

<!-- component -->






<!-- 
</div> -->

</body>
</html>











