<html>
    <head>
        <title>Upcoming Events</title>
        <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">

    </head>
    <body class="bg-gray-200 font-sans leading-normal tracking-normal">
      

        <%- include('_navbar') -%>

        <br>
        <div class="mt-4 ml-5">
        <% if(event) {%>

        <form action="/UpdateEvent" method="POST" enctype="multipart/form-data" >
            <input type="file" name="eventbanner" ><br><br>
            <input class="border-2 border-black p-4" type="text" name="eventname" value="<%=event.eventname%>" > <br><br>
            <input class="border-2 border-black p-4" type="text" name="aboutevent" value="<%=event.aboutevent%>" style="height: 100px;width: 500px;"><br><br>
            <input class="border-2 border-black p-4" type="text" name="eventStartTime" value="<%=event.eventStartTime%>"><br><br>
            <input class="border-2 border-black p-4" type="text" name="eventEndTime" value="<%=event.eventEndTime%>"><br><br>
            <input class="border-2 border-black p-4" type="text" name="eventDate" value="<%=event.eventDate%>"><br><br>
            <input class="border-2 border-black p-4" name="id" type="hidden" value="<%=event._id%>"> 
            <input class="border-2 border-black p-4" type="submit" value="Save">
           

        </form>
        <%}

         else {%>

    

        <form action="/CreateEvent" method="POST" id="file-form" enctype="multipart/form-data">
            <input type="file" name="eventbanner" id="multiFiles" required="true"><br><br>
            <input type="hidden" value="<%=locals.user._id%>" id="userid">
            <input class="border-2 border-black p-4" id="a" type="text" name="eventname" placeholder="Event Name" > <br><br>
            <input class="border-2 border-black p-4" id="b" type="text" name="aboutevent" placeholder="About Event" style="height: 100px;width: 500px;"><br><br>
            <input class="border-2 border-black p-4" id="c" type="text" name="eventStartTime" placeholder="Start Time"><br><br>
            <input class="border-2 border-black p-4" id="d" type="text" name="eventEndTime" placeholder="End Time"><br><br>
            <input class="border-2 border-black p-4" id="e" type="text" name="eventDate" placeholder="Event Date"><br><br>
            <input id="fm" class="border-2 border-black p-4" type="submit" value="Create">
           

        </form>
        <%}%>
    </div>







    <script src="<%=assetPath('/js/events.js')%>"></script>
    <%- include('_footer') -%>
    </body>
</html>